node_modules/
ifood-route-frontend/node_modules/
ifood-route-backend/node_modules/
.next/
dist/
tsconfig.tsbuildinfo
.env
.env.local
.DS_Store
.vscode/
npm-debug.log
yarn-error.log
pnpm-lock.yaml
package-lock.json
yarn.lock
.idea/
test_results.json